:root { 
--white_A700_7f:#ffffff7f; 
--gray_900:#262424; 
--lime_A200:#eeff41; 
--white_A700_33:#ffffff33; 
--white_A700_99:#ffffff99; 
--cyan_300:#4accdf; 
--white_A700_cc:#ffffffcc; 
--black_900_01:#030202; 
--black_900_33:#00000033; 
--black_900_00:#00000000; 
--black_900:#000000; 
--indigo_A700:#3e42fa; 
--indigo_A700_01:#3d41fa; 
--indigo_700:#292bad; 
--white_A700:#ffffff; 
}