
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/NotoSansBold.ttf"); font-family : "Noto Sans"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/NotoSansBlack.ttf"); font-family : "Noto Sans"; font-weight : 900;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/NotoSansRegular.ttf"); font-family : "Noto Sans"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/NotoSansSemiBold.ttf"); font-family : "Noto Sans"; font-weight : 600;  }